*.suo
GalaxySimulator_Threaded_COMP426/COMP426_Assignment1/Debug/
GalaxySimulator_Threaded_COMP426/Debug/COMP426_Assignment1.exe
GalaxySimulator_Threaded_COMP426/.vs/COMP426_Assignment1/v15/ipch/AutoPCH/58a15a3eba97d09c/PARTICLE.ipch
GalaxySimulator_Threaded_COMP426/.vs/COMP426_Assignment1/v15/ipch/
*.aps
*.db
*.user
*.opendb
GalaxySimulator_Threaded_COMP426/Debug/
GalaxySimulator_Threaded_COMP426/COMP426_Assignment1/x64/
GalaxySimulator_Threaded_COMP426/x64/Debug/COMP426_Assignment1.pdb
Asg1.426f18.pdf
