*.suo
GalaxySimulator_Threaded_COMP426/COMP426_Assignment1/Debug/
GalaxySimulator_Threaded_COMP426/Debug/COMP426_Assignment1.exe
GalaxySimulator_Threaded_COMP426/.vs/COMP426_Assignment1/v15/ipch/AutoPCH/58a15a3eba97d09c/PARTICLE.ipch
GalaxySimulator_Threaded_COMP426/.vs/COMP426_Assignment1/v15/ipch/
*.aps
*.db
*.user
*.opendb
GalaxySimulator_Threaded_COMP426/Debug/
GalaxySimulator_Threaded_COMP426/COMP426_Assignment1/x64/
GalaxySimulator_Threaded_COMP426/x64/Debug/COMP426_Assignment1.pdb
Asg1.426f18.pdf
GalaxySimulator_Threaded_COMP426/enc_temp_folder/5cc6bfd461f9a46ca9ec4fe2419dab/main.cpp
GalaxySimulator_Threaded_COMP426/Release/
GalaxySimulator_Threaded_COMP426/COMP426_Assignment1/Release/
GalaxySimulator_Threaded_COMP426/COMP426_Assignment1/COMP426_Assignment1.exe
GalaxySimulator_Threaded_COMP426/COMP426 Assignment 1 Report SamratDebroy.pdf
SamratDebroy40002159_COMP426_Assignment1.zip
COMP426-Assignment1_Rubric.pdf
CourseContent/
*.ipch
GalaxySimulator_TBB_COMP426/COMP426_Assignment2/Release/
GalaxySimulator_TBB_COMP426/COMP426_Assignment2/x64/
GalaxySimulator_TBB_COMP426/Release/
